@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@theme{
  --container-center:true;
  --container-padding:2rem;
}

* {
  font-family: "Geist", sans-serif;
  
}